
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class = "panel panel-info col-md-12">
        <div class = "panel-heading">
            <h3 class = "panel-title text-center">Nova Consulta</h3>
        </div>

        <div class = "panel-body">
            <form th:action="@{/consultas/salvar}" method="post" th:object="${consulta}">
                <input id="id" type="hidden" th:field="*{id}"/>
                <div class="form-group col-md-6">
                    <label for="paciente">Paciente</label>
                    <select th:field="*{paciente}" class="form-control" id="paciente" >
                        <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('paciente')}" th:errors="*{paciente}" class="label label-danger"></div>
                </div>

                <div class="form-group col-md-6">
                    <label for="paciente">Médico</label>
                    <select th:field="*{medico}" class="form-control" id="medico" >
                        <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('medico')}" th:errors="*{medico}" class="label label-danger"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="paciente">Turno</label>
                    <select th:field="*{turno}" class="form-control" id="turno" >
                        <option value="manha">Manhã</option>
                        <option value="tarde">Tarde</option>
                        <option value="noite">Noite</option>
                    </select>

                </div>
                <div class="form-group col-md-6">
                    <label for="tipo">Tipo</label>
                    <select th:field="*{tipo}" class="form-control" id="tipo" >
                        <option value="agendada">Agendada</option>
                        <option value="andamento">Andamento</option>
                        <option value="retorno">Retorno</option>
                        <option value="finalizada">Finalizada</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="dataConsulta">Data da consulta</label>
                    <input class="form-control" type="date" name="dataConsulta" id="dataConsulta" th:field="*{dataConsulta}"  />
                    <div th:if="${#fields.hasErrors('dataConsulta')}" th:errors="*{dataConsulta}" class="label label-danger"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="dataRetorno">Data de retorno</label>
                    <input class="form-control"  type="date" name="dataRetorno" id="dataRetorno" th:field="*{dataRetorno}"  />
                    <div th:if="${#fields.hasErrors('dataRetorno')}" th:errors="*{dataRetorno}" class="label label-danger"></div>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" class="btn  btn-success" value="Cadastrar" />
                    <a class="btn btn-default" th:href="@{/pacientes}">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>
</html>