<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div th:if="${mensagem !=null}" class="col-md-12">
        <span th:text="${mensagem}" class="label label-success"></span>
    </div>
    <div class = "panel panel-info col-md-12">
        <div class = "panel-heading">
            <h3 class = "panel-title text-center">Consultas</h3>
        </div>

        <div class = "panel-body">


            <div class="form-group col-md-6">
                <form th:action="@{/consultas/{id}}" method="get">
                    <label>Pesquisa por ID</label>
                    <input class="form-control" type="text" name="id" />
                    <input class="btn btn-info pesq" type="submit" value="Pesquisar" />
                </form>
            </div>

            <div class="scroll-table">
                <table class="table  table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Paciente</th>
                        <th>Médico</th>
                        <th>Tipo</th>
                        <th>Turno</th>
                        <th>Data Consulta</th>
                        <th>Data Retorno</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="consulta: ${consultas}">
                        <td th:text="${consulta.id}"></td>
                        <td th:text="${consulta.paciente.nome}"></td>
                        <td th:text="${consulta.medico.nome}"></td>
                        <td th:text="${consulta.tipo}"></td>
                        <td th:text="${consulta.turno}"></td>
                        <td th:text="${#temporals.format(consulta.dataConsulta, 'dd/MM/yyyy')}"></td>
                        <div th:if="${consulta.dataRetorno == null}">
                            <td></td>
                        </div>
                        <div th:if="${consulta.dataRetorno != null}">
                            <td th:text="${#temporals.format(consulta.dataRetorno, 'dd/MM/yyyy')}"></td>
                        </div>
                        <td><a class="btn btn-primary" th:href="@{/consultas/{id}/detalhes(id=${consulta.id})}"><i class="fas fa-list"></i></a></td>
                        <td><a class="btn btn-success" th:href="@{/consultas/{id}/editar(id=${consulta.id})}"><i class="fas fa-pencil-alt"></i></a></td>
                        <td><a class="btn btn-danger" th:href="@{/consultas/{id}/remover(id=${consulta.id})}"><i class="fas fa-trash-alt"></i></a></td>

                    </tr>
                    </tbody>
                </table>
                <div th:if="${#lists.isEmpty(consultas)}">
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        0 consultas!
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>