
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class = "panel panel-info col-md-12">
        <div class = "panel-heading">
            <h3 class = "panel-title text-center">Novo Médico</h3>
        </div>

        <div class = "panel-body">
            <form th:action="@{/medicos/salvar}" th:method="${medico.id} == null ? post : put" th:object="${medico}">
                <input id="id" type="hidden" th:field="*{id}"/>
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" name="nome" id="nome" th:field="*{nome}" />
                    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="label label-danger"></div>
                </div>

                <div class="form-group col-md-6">
                    <label for="crm">CRM</label>
                    <input class="form-control" type="text" name="rcrm" id="crm"  th:field="*{crm}" />
                    <div th:if="${#fields.hasErrors('crm')}" th:errors="*{crm}" class="label label-danger"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="cpf">CPF</label>
                    <input class="form-control" type="text" name="cpf"  id="cpf" th:field="*{cpf}" />
                    <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="label label-danger"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="especialidade">Especialidade</label>
                    <input class="form-control" type="text" name="especialidade" id="especialidade" th:field="*{especialidade}"  />
                    <div th:if="${#fields.hasErrors('especialidade')}" th:errors="*{especialidade}" class="label label-danger"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="telefone">Telefone</label>
                    <input class="form-control" type="tel" name="telefone" id="telefone" th:field="*{telefone}"  />
                    <div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="label label-danger"></div>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" class="btn  btn-success" value="Cadastrar" />
                    <a class="btn btn-default" th:href="@{/medicos}">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>
</html>