#form-container {
    width: 100vw;
    height: 100vh;
    background: #16202a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#form-box {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius:5px;
}

#form-box img{
    display: block;
    width: 90px;
    height: 90px;
    margin: 10px auto;
}

.btn.btn-success{
    background-color:#26323e;
    color:#fff;
    border:none;
}

.btn.btn-success:hover{
    background-color:#15212a;

}

.label.label-danger{
font-size:15px;
}