
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="corpo">
        <div class = "panel panel-info col-md-12">
            <div class = "panel-heading">
                <h3 class = "panel-title text-center">Novo Paciente</h3>
            </div>

            <div class = "panel-body">
                <form action="" method="post">

                    <div class="form-group col-md-6">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rg">RG</label>
                        <input class="form-control" type="text" name="rg" id="rg" minlength="9" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cpf">CPF</label>
                        <input class="form-control" type="text" name="cpf"  id="cpf" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="tel">Telefone</label>
                        <input class="form-control" type="tel" name="tel" id="tel" minlength="11" maxlength="11" />
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" class="btn  btn-success" value="Cadastrar" />
                        <a class="btn btn-default" href="?pg=analytics">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>