
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="corpo">
        <div class=" row col-md-12">
            <div class = "panel panel-info col-md-12">
                <div class = "panel-heading">
                    <h3 class = "panel-title text-center">Consultas Realizadas no Mês</h3>
                </div>

                <div class = "panel-body">


                </div>
            </div>

            <div class = "panel panel-info col-md-12">
                <div class = "panel-heading ">
                    <h3 class = "panel-title text-center">Consultas Agendadas no Mês</h3>
                </div>

                <div class = "panel-body">


                </div>
            </div>
        </div>
    </div>
</html>