<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>App Clínica</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>


</head>
<body>

    <div th:replace="layout/header :: topo">

    </div>

    <div class="main">



        <div th:replace="layout/menu :: menu">

        </div>

        <div class="content">

            <div class="row col-md-12" th:include="${conteudo} :: corpo">

            </div>

        </div> <!--fim content -->
    </div> <!--fim main-->


</body>
</html>