
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="corpo">
        <div class = "panel panel-info col-md-12">
            <div class = "panel-heading">
                <h3 class = "panel-title text-center" th:text="${paciente.id == null ? 'Novo Paciente' : 'Editar Paciente'}"></h3>
            </div>

            <div class = "panel-body">
                <form th:action="@{/pacientes/salvar}" th:method="${paciente.id} == null ? post : put" th:object="${paciente}">
                    <input id="id" type="hidden" th:field="*{id}"/>
                    <div class="form-group col-md-6">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" th:field="*{nome}" />
                        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="label label-danger"></div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="rg">RG</label>
                        <input maxlength="14" class="form-control" type="text" name="rg" id="rg" minlength="9" th:field="*{rg}" />
                        <div th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}" class="label label-danger"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cpf">CPF</label>
                        <input maxlength="11" class="form-control" type="text" name="cpf"  id="cpf" th:field="*{cpf}" />
                        <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="label label-danger"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dataNascimento">Data de Nacimento</label>
                        <input class="form-control" type="date" name="dataNascimento" id="dataNascimento" th:field="*{dtNascimento}"  />
                        <div th:if="${#fields.hasErrors('dtNascimento')}" th:errors="*{dtNascimento}" class="label label-danger"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label  for="telefone">Telefone</label>
                        <input maxlength="11" class="form-control" type="tel" name="telefone" id="telefone" th:field="*{telefone}"  />
                        <div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="label label-danger"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" class="btn  btn-success" value="Cadastrar" />
                        <a class="btn btn-default" th:href="@{/pacientes}">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</html>